<nb-card>
    <nb-card-header>
    <h1>{{cyclist.firstName + ' ' + cyclist.lastName | titlecase}}</h1>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="hcaracs">
                <nb-card>
                    <nb-card-header>
                        <h3>Human caracteristics</h3>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item>
                                Age : {{cyclist.age | ageFormatter}}
                            </nb-list-item>
                            <nb-list-item>
                                Weight : {{cyclist.weight}} kg
                            </nb-list-item>
                            <nb-list-item>
                                Height : {{cyclist.height}} m
                            </nb-list-item>
                            <nb-list-item>
                                Country : {{cyclist.country}}
                            </nb-list-item>
                        </nb-list>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="cyclistCaracs">
                <nb-card>
                    <nb-card-header>
                        <h3>Cyclist caracteristics</h3>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item *ngFor="let carac of cyclist.skillSetList">
                                <div class="caracLabel">{{carac.skill.label}} </div>
                                <div [class]="carac.value | caracteristicColor" >{{carac.value}}</div>
                            </nb-list-item>
                        </nb-list>
                    </nb-card-body>
                    <nb-card-footer>
                        
                    </nb-card-footer>
                </nb-card>
            </div>
            <div class="history">
                <nb-card>
                    <nb-card-header>
                        <h3>Last Races</h3>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item>
                                <h2>TO BE IMPLEMENTED</h2>
                            </nb-list-item>
                        </nb-list>
                    </nb-card-body>
                    <nb-card-footer>
                        
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
        
    </nb-card-body>
    <nb-card-footer>
        
    </nb-card-footer>
</nb-card>