.row{
    width:100%;
    justify-content: space-between;
}
.row div{
    float: left;
}

.hcaracs{
    width: 20%;
    min-width: fit-content;
    margin-right: 3rem;
}

.cyclistCaracs{
    width:25%;
    margin-right: 3rem;
}

.history{
    width:45%;
}

.caracLabel{
    width: 40rem;
}

.salmon{
    color:orangered;
}

.red{
    color: red;
}

.lightRed{
    color: lightcoral
}

.darkGreen{
    color: darkgreen;
}

.green{
    color: green;
}

.lightGreen{
    color: lightgreen;
}