<form [formGroup]="addForm" (ngSubmit)="submit()">
    <nb-card>
        <nb-card-header>
            Human Caracteristics
        </nb-card-header>
        <nb-card-body>
            <label class="content">
                <input nbInput [status]="addForm.get('firstname') | inputColor" formControlName="firstname" placeholder="Firstname">
              </label>
            
              <label class="content">
                <input nbInput [status]="addForm.get('lastname') | inputColor" formControlName="lastname" placeholder="Lastname">
              </label>
            
              <label class="content">
                Age : <input nbInput [status]="addForm.get('age') | inputColor" value="18" formControlName="age" type="number" min="18" max="30" > years
              </label>
            
              <label class="content">
                <input nbInput [status]="addForm.get('weight') | inputColor" formControlName="weight" placeholder="Weight" min="45" max="100" type="number"> Kg
              </label>
            
              <label class="content">
                <input nbInput [status]="addForm.get('height') | inputColor" formControlName="height" placeholder="Height" min="1.4" max="2.1" type="number" step="0.01"> m
              </label>
            
              <nb-select [status]="addForm.get('khuntry') | inputColor" formControlName="khuntry" placeholder="Khuntry" class="content">
                <nb-option *ngFor="let khuntry of khuntryList" [value]="khuntry">{{khuntry}}</nb-option>
              </nb-select>
        </nb-card-body>
    </nb-card>
    

    <nb-card>
        <nb-card-header>
            Road Caracteristics
        </nb-card-header>
        <nb-card-body>
            <h4>You can add a maximum of 100 points in all road caracteristics. Actual points left : {{skillControls}} </h4>

              <label class="content">
                <input nbInput formControlName="hills" placeholder="Hills" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="flat" placeholder="Flat" min="10" max="40" type="number" step="5" 
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="mountain" placeholder="Mountain" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="cobbles" placeholder="Cobbles" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="downhill" placeholder="Downhills" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                  Sprint :
                <input nbInput formControlName="sprint" placeholder="Sprint" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                  Punch : 
                <input nbInput formControlName="punch" placeholder="Punch" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>

        </nb-card-body>
    </nb-card>

    <nb-card>
        <nb-card-header>
            Cross Caracteristics
        </nb-card-header>
        <nb-card-body>
            <label class="content">
                <input nbInput formControlName="balance" placeholder="Balance" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="climb" placeholder="Climb" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="climbrun" placeholder="Climbrun" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="flatrun"  min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="mud" placeholder="Mud" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="planks" placeholder="Planks" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="sand" placeholder="Sand" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="soil" placeholder="Soil" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
            
              <label class="content">
                <input nbInput formControlName="stairs" placeholder="Stairs" min="10" max="40" type="number" step="5"
                [status]="(addForm.get('hills').dirty || addForm.get('hills').touched)? 
                (addForm.get('hills').valid && addForm.getError('matchError')? 'danger': 'success') 
                : 'primary'" >
              </label>
        </nb-card-body>
    </nb-card>
    
    <label class="content">
      <input nbButton type="submit" [disabled]="addForm.invalid" value="Register">
    </label>
  
  </form>
  